@use "sass:map";
@import "../../../scss/mixins.scss";
@import "../../../scss/all.variables.scss";
@import "../../../scss/all.utilities.scss";
@import "../../../scss/components/typography.scss";

.hero-body {
  margin-bottom: 50px;
  @include responsive-set("upto-mobile-sm") {
    margin-bottom: 18px;
  }
  &-image {
    margin-right: 32px;
    max-width: 230px;
    width: 100%;
    @include responsive-set("upto-mobile-sm") {
      float: none;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 18px;
      margin-right: 0;
      max-width: none;
    }
  }

  &-desc {
    @extend .typo-paragraph;
    color: $cinder;
  }
  @include responsive-set("upto-mobile-sm") {
    display: block;
  }
}
.f-left{
  float: left;
}
