/* Main colors */
$regalBlue: #193256;
$disasterPacificBlue: #018eca;
$conflictTangerine: #ef7d00;

/* grey family */
$narvik: #f6f5f1;
$gainsboro: #e6e6e6;
$regentGrey: #7f8c9e;
$textDimGray: #646363;
$nightRider: #333333;
$cinder: #212529;
$geyser: #dcdfe1;
$solitude: #e8ebee;

/* White family */
$white: #ffffff;
$lightCream: #f2f0ea;

/* Blue family */
$kashmirBlue: #576881;
$navyBlue: #0874e2;
$pattensBlue: #eef4f8;

$transparent: transparent;

$grey: (
  "50": #e6e6e6,
  "75": #dcdfe1,
  "100": #d1d6dd,
  "150": #8c98aa,
  "200": #646363,
  "400": #333333,
  "450": #212529,
);
