$font-4xs: 12px;
$font-3xs: 13px;
$font-2xs: 14px;
$font-xs: 15px;
$font-sm: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 24px;
$font-2xl: 28px;
$font-3xl: 32px;
$font-4xl: 36px;

$heading-lg: 40px;
$heading-xl: 48px;
$heading-2xl: 60px;

$maxWidth: (
  "laptop-xxl": 90%,
  "wide-screens": 1640px,
);

$fontSize: (
  "12": 12px,
  "13": 13px,
  "14": 14px,
  "15": 15px,
  "16": 16px,
  "18": 18px,
  "20": 20px,
  "24": 24px,
  "28": 28px,
  "30": 30px,
  "32": 32px,
  "34": 34px,
  "36": 36px,
  "38": 38px,
  "40": 40px,
  "44": 44px,
  "48": 48px,
  "60": 60px,
);
