@import "../../../scss/mixins.scss";
@import "../../../scss/all.variables.scss";
@import "../../../scss/all.utilities.scss";
@import "../../../scss/components/typography.scss";

.carousel {
  &-title {
    @extend .font-freight;
    @extend .color-regalBlue;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}
.arrow {
  @extend .bg-clr-white;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  margin-left: 24px;
}
.slick-prev,
.slick-next {
  &::before {
    display: none !important;
  }
}
.slick-list {
  margin: 0 -15px !important;
  @include responsive-set("upto-mobile-sm") {
    margin: 0 -10px !important;
  }
  padding: 0 !important;
}
.slick-slide > div {
  margin: 0 15px !important;
  @include responsive-set("upto-mobile-sm") {
    margin: 0 2px !important;
  }
}
.slick-slider {
  @include responsive-set("upto-mobile-sm") {
    margin-left: 8px !important;
  }
}
.slick-slide {
  @include responsive-set("upto-mobile-sm") {
    padding-left: 10px !important;
  }
}
.custom-slider {
  .content-card__img {
    z-index: -1;
  }
  .content-card__eyebrow {
    z-index: 1;
  }
}
